/* SCROLL-DOWN ARROWS ANIMATION */


.arrow-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 95vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.arrow-container svg{
    width: 3rem;
}

.arrow-container span{
    font-size: 1rem;
    margin-top: 1rem;
    color: white;
}

#darker-arrow{
    animation: darker-arrow-ani 0.7s ease-in alternate infinite;
    padding-bottom: 5%;
}

#lighter-arrow{
    animation: lighter-arrow-ani 0.7s ease-in alternate infinite;
    animation-delay: 450ms;
}

@keyframes darker-arrow-ani {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes lighter-arrow-ani {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.95;
    }
}