/* RESET & FONT */

@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*{ 
    margin: 0;
    padding: 0;
    font-family: "Tinos", serif;
    font-weight: 300;
}

/* GENERAL STYLES */

section, .grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.wrapper{
    max-width: 1440px;
    margin: 64px auto 0 auto;
    box-sizing: border-box;
}

.button-container{
    z-index: 1;
    color: black;
    border: 2px solid;
    animation: pulse 0.4s linear alternate infinite;
    margin-top: 20px;
    padding: 2px;
}

.button-container:hover{
    transition: 0.1s;
    border: 1px solid;
}

button{
    background: none;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
    border: 0;
}


button:hover{
    transition: 0.1s;
    border: 2px solid;
}

/* -- FONT STYLES */

h1 { font-size: 3.8rem; grid-column: span 10; font-weight: 800; }
h2 { font-size: 3rem; grid-column: span 8; font-weight: 700; }
h3 { font-size: 2.43rem; grid-column: span 8; }
h4 { font-size: 1.96rem; grid-column: span 8; }
h5 { font-size: 1.57rem; grid-column: span 6; }
h6 { font-size: 1.7rem;  grid-column: span 6; }
p { font-size: 1rem;  grid-column: span 6; }
.small-text { font-size: .75rem; grid-column: span 4; }
.bold{ font-weight: 600; }

/* HERO SECTION */

.hero > video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.hero {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden; 
}



#hero-heading {
    width: 30vw;  /* MAKE RESPONSIVE USING GRID ??? */
    opacity: 0.4;
    z-index: 1;
} 

@keyframes pulse {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}


/* OUR PRODUCTS SECTION */

.product-showcase{
    display: flex;
    grid-column: span 12;
    width: 100%;
    gap: 20px;
}

.products-header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    grid-column: span 12;
}

.product{
    width: 100%; 
}


.product-showcase img{
    width: 100%;
    aspect-ratio: 3 / 4;
    margin-bottom: 16px;
}

.ii{
    height: 100vh;
    width: 100vw;
    background: black;
}

/* POINTER TO PRODUCT AND UNAVALIABLE OTHERS*/